%div.jumbotron
  %h1
    %i.fa.fa-stumbleupon-circle
    Tuskdo
  %p
    Welcome to Tuskdo, a smart Todo application to manage all your tasks
  = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg'

